body {
    background-image: url("../assets/img/texture.jpg");
    background-repeat: no-repeat;
    background-size: 100% 900px;
    background-color: rgba(11, 69, 120, 0.559);
    
}

.animatey {
    font-size: 120px;
    color: azure;
    margin: auto;
    width: 100%;
    text-align: center;
    animation: up 2s forwards;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-bottom: 9%;
}
@keyframes up{
    0%{
        top: 0;
    }
    100%{
        top: 18%;
        transform: translateY(80%);
    }
}
.animatex {
    font-size: 70px;
    color: azure;
    margin: auto;
    width: 30%;
    text-align: center;
    animation: left 2s forwards;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 5%;
}
@keyframes left{
    0%{
        left: 0;
        transform: translateX(-100%);
    }
    100%{
        left: 9%;
        transform: translateX(0%);
    } 
}
.animatez {
    font-size: 60px;
    color: azure;
    margin: auto;
    width: 30%;
    text-align: right;
    animation: right 2s forwards;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 3px;
}
@keyframes right{
    0%{
        right: 0;
        transform: translateX(110%);
    }
    100%{
        right: 9%;
        transform: translateX(-0%);
    }
}



.container a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    border: 2px solid rgb(66, 136, 166);
    border-radius: 5px;
    margin: auto;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 2px;
    color: white;
    -webkit-box-reflect: below 0px linear-gradient(transparent,#0002);
    transition: 0.5s;
    transition-delay: 0s;
    text-align: center;
}

.container a:hover {
    transition-delay: 1.5s;
    color:rgb(0, 0, 0);
    box-shadow: 0 0 10px rgb(66, 136, 166),
                0 0 20px rgb(66, 136, 166),
                0 0 40px rgb(66, 136, 166),
                0 0 80px rgb(66, 136, 166),
                0 0 160px rgb(66, 136, 166);
}
.container a span{
    position: relative;
    z-index: 100;
}
.container a:nth-child(2){
    filter: hue-rotate(80deg);
}
.container a::before{
    content: '';
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: rgb(66, 136, 166);
    box-shadow: 5px -8px 0 rgb(66, 136, 166),
                5px 8px 0 rgb(66, 136, 166);
    transition: width 0.5s, left 0.5s, height 0.5s,
    box-shadow 0.5s;
    transition-delay: 1s,0.5s,0s,0s;
}
.container a:hover::before{
    width: 60%;
    height: 100%;
    left: -2px;
    box-shadow: 5px 0 0 rgb(66, 136, 166),
                5px 0 0 rgb(66, 136, 166);
    transition-delay: 0s,0.5s,1s,1s;
}


.container a::after{
    content: '';
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 2px;
    background: rgb(66, 136, 166);
    box-shadow: -5px -8px 0 rgb(66, 136, 166),
                -5px 8px 0 rgb(66, 136, 166);
    transition: width 0.5s, right 0.5s, height 0.5s,
    box-shadow 0.5s;
    transition-delay: 1s,0.5s,0s,0s;
}
.container a:hover::after{
    width: 60%;
    height: 100%;
    right: -2px;
    box-shadow: -5px 0 0 rgb(66, 136, 166),
                -5px 0 0 rgb(66, 136, 166);
    transition-delay: 0s,0.5s,1s,1s;
}